---
layout: home
script: home.js
countdown: "Jan 22, 2021 23:59:59"
---
<div class="slider fullscreen" id="slider-home">
  <div id="banner-description">
    <div class="row"><div class="col s12">
    <img src="{{site.url}}/{{site.data.home.logo}}" id="site-logo" style="width:inherit; height:inherit;">
    </div></div>
    <div><b>{{site.data.home.longname}}</b></div>
  </div>
  <div id="gradient-nav" style="background: rgba(0,0,0, 0.2);"></div>
  <div id="chevron-banner"><i class="material-icons">keyboard_arrow_down</i></div>
    {% for img in site.data.home.backimage %}
      <img src="{{site.url}}/{{img.img}}" alt="{{img.alt}}" style="height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
        object-fit:cover;">
    {% endfor%}
</div>


<div class="no-pad-top" id="index-page">
  <div class="container">
    <div class="row">
      <div class="column s12 m4">
      <h3 id="countdown" class="center custom1-text" style=""></h3>
      </div>
    </div>
    <!--   Icon Section   -->
    <div class="section">
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="medium material-icons custom1-text">supervisor_account</i></h2>
            <h2 class="center">Who</h2>
            <p class="light">
              {{ site.data.home.who.text }}</p>
            {% if site.data.home.who.subpoints %}
            <ul class="dashed light">
              {% for x in site.data.home.who.subpoints %}
              <li>{{x.text}}</li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="medium material-icons custom1-text">today</i></h2>
            <h2 class="center">When</h2>
            <p class="light center">{{ site.data.home.when }}</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="medium material-icons custom1-text">location_on</i></h2>
            <h2 class="center">Where</h2>
            <p class="light">{{ site.data.home.where }}</p>
          </div>
        </div>
      </div>


      <!-- paragraph -->
      <div class="section">
        <div class="row">
          <div class="col s10 offset-s1">
            <div class="icon-block">
              <h3 class="center"><i class="medium material-icons custom1-text">send</i></h3>
              <p class="center light">{{ site.data.home.paragraph }}</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>