---
layout: page
title: Eventi serali
---

<!-- {{site.data.serate.intro}} -->

<div class="section">
  {% for item in site.data.serate %}
    {% assign col = forloop.index0 | modulo:2 %}
    {% if col == 0 %}
<div class="row">
    {% endif %}
	<div class="col s12 m6">
        	<div class="card" id='{{item.id}}'>
         		<div class="card-image">
            			<img src="{{ site.url}}/img/serate/{{ item.img }}">
    	    				   <span class="card-title"><b>{{ item.title }}</b>  <!-- <small><small><small>Foto di {{ item.photocredit }}	</small></small></small> --></span>  
         		</div>
          			<div class="card-content">

    	    				   <p style='text-align:justify'>{{ item.descr }}</p>
      					<p style='text-align:right'><b>{{ item.when }}</b></p>
          			</div>
		</div>      		
		</div>
    {% if col == 1 %}
	</div>
    {% endif %}
  {% endfor %}
</div>
