---
layout: page
title: Strutture
---

{{site.data.strutture.intro}}

<h2>Centri di ricerca e aziende</h2>
<div class="section">
  {% for item in site.data.strutture.milano %}
   {% assign col = forloop.index0 | modulo:2 %}
    {% if col == 0 %} 
      <div class="row">
    {% endif %} 
	
	{% if item.double != nihil %}
		<div class="col s12 m12">
		{% else %}
		<div class="col s12 m6">
		{% endif %}
        <div class="card" id='{{item.id}}'>
		{% if item.img != nihil %}
          <div class="card-image">
      <!--    <div class="slider">
              <ul class="slides">
                {% for item2 in item.slideshow %}
                <li>
                  <img src="{{ site.url}}/{{ item2.slide }}">
                </li>
                {% endfor %}
              </ul>
            </div> -->
             <img src="{{ site.url}}/img/strutture/{{ item.img }}">
          </div>
		{% endif %}
          <div class="card-content">
    	       <span class="card-title grey-text text-darken-4">{{ item.title }}</span>
    	       <p style='text-align:justify'>{{ item.descr }}</p>
          </div>
        	<div class="card-action">
        	  <a href="{{ item.site }}" target="_blank">Website</a>
        	  <a href="{{ item.map }}" target="_blank">Map</a>
        	</div>
        </div>
      </div>
   {% if col == 1 %}
    </div>
    {% endif %}
  {% endfor %}
</div>


<h2>Alloggio</h2>
<p>I partecipanti con alloggio (vedi pagina <a href='../programma'>Programma</a> per informazioni sulle diverse quote) soggiorneranno nelle 4 notti dell'evento presso il Mio Hostel, situato a pochi minuti a piedi dal Dipartimento di Fisica UniMi, dove avranno luogo gran parte delle attività. L'ostello si trova nel quartiere di Lambrate-Città Studi, animato dai dipartimenti scientifici dell'Università degli Studi di Milano e dal Politecnico e ottimamente collegato con il resto della città.</p>

<p>L'ostello è dotato di una rete Wi-Fi a disposizione dei partecipanti della CISF.</p>

<div class="row">

  <div class="col s12 m6">
    <div class="card" id="alloggio">
      <div class="card-image" >
        <img src="{{site.url}}/img/strutture/miohostel.jpg">
        <span class="card-title"> <b>Mio Hostel</b></span>
      </div>
      <div class="card-content">
	        <p style='text-align:justify'>Il Mio Hostel si trova a Lambrate, in zona Città Studi, in prossimità del Politecnico di Milano e dell’Università degli Studi. <br> Con ampi spazi esterni ed interni, il Mio Hostel offre servizio non solo di colazione (7:00 - 9:00) ma anche di aperitivo (19:00 - 21:00).  <br> Grazie alla linea metropolitana (MM2, fermata Lambrate FS) e ad altri mezzi pubblici (tram / autobus / bicicletta), da qui è possibile raggiungere facilmente le zone più significative della città.</p>
      </div>
      <div class="card-action">
        <a href="https://miohostel.com/" target="_blank">Website</a>
        <a href="https://goo.gl/maps/aNsMcMy8CAt" target="_blank">Map</a>
      </div>
    </div>
  </div>



